<div ng-show="isLoading" class="ui segment loaderfirst">
    <p></p>
    <div class="ui active inverted dimmer">
        <div class="ui loader"></div>
    </div>
</div>

<div ng-show="!isLoading && isError" class="ui negative message container error">
    <i class="close icon"></i>
    <div class="header">
        Server request error
    </div>
    <p>Check server is running
    </p>
</div>

<div ng-show="!isLoading && !isError" class="ui grid container cont">
    <div class="tablet mobile only row">
        <div class="ui borderless huge fluid menu">
            <a class="header item"> Project Name</a>
            <div class="right menu">
                <a class="menu item">
                    <div class="ui basic icon toggle button">
                        <i class="content icon"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui message">
            <h1 class="ui huge header">
            Neth Check-in
            </h1>

            <button ng-click="showNewForm()" class="ui basic icon button item big tiny-margin-top ng-scope butto" data-tooltip="Nuovo partecipante" data-position="left center"> <i class="add user icon"></i> </button><br>


            <div ng-if="newUser" class="ui large form newser">
                <div class="three fields">
                    <div class="field">
                        <label>Nome</label>
                        <input type="text" placeholder="Inserisci il nome">
                    </div>
                    <div class="field">
                        <label>Cognome</label>
                        <input type="text" placeholder="Inserisci il cognome">
                    </div>
                    <div class="field">
                        <label>Azienda</label>
                        <input type="text" placeholder="Inserisci il nome dell' azienda">
                    </div>
                </div>
                <div class="ui medium primary button"><i class="save icon"></i> Salva</div>
            </div>

            <div class="row dt-table">
                <div class="sixteen wide column">

                    <div style="margin-bottom: 15px; margin-top:20px;" class="ui large fluid icon input">
                        <input type="text" ng-model="search.term" placeholder="Ricerca per nome, cognome, e-mail e azienda...">
                        <i class="search icon"></i>
                    </div>

                    <table ng-table="tableParams" class="ui celled table dataTable">
                        <tr ng-repeat="user in $data | filter:search.term">
                            <!--<td title="'Nome Evento'" class="single line" sortable="'nome_evento'">
                {{user.nome_evento}}</td>-->
                            <td title="'Nome'" class="single line" sortable="'nome'">
                                {{user.nome}}</td>
                            <td title="'Cognome'" class="single line" sortable="'cognome'">
                                {{user.cognome}}</td>
                            <td title="'E-mail'" class="single line" sortable="'email'">
                                {{user.email}}</td>
                            <td title="'Azienda'" class="single line" sortable="'agency'">
                                {{user.agency}}</td>
                            <td style="width: 258px;" title="'Stato'" class="single line" sortable="'stato'">
                                <span class="{{user.stato == 'Check-in eseguito' ? 'red' : 'green action'}}"><button ng-click="functionCheckin(user.stato,user.id,user.nome,user.cognome,user.agency)" class="ui blue button medium {{user.stato == 'Check-in eseguito' ? 'hidden' : 'show'}}">Esegui check-in</button><div class="ui buttons {{user.stato == 'Check-in eseguito' ? 'show' : 'hidden'}}"><button class="ui button disabled medium">Check-in eseguito</button><button ng-click="functionRePrint(user.id)" class="ui positive button yellow medium">Ripristina</button></div></span>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div id="urlPhp" style="width: 100%; text-align: right; padding-right:15px;"></div>
    </div>
</div>



<style type="text/css">
    .ui.borderless.huge.menu {
        background-color: #f8f8f8;
    }

    .ui.borderless.huge.menu .header.item {
        font-size: 1.2em;
    }

    .ui.vertical.menu {
        display: none;
        background-color: #f8f8f8;
    }

    .ui.vertical.menu .item .title .dropdown.icon {
        float: none;
    }

    .ui.vertical.menu .item .content .item {
        padding: 0.5em 1em;
    }

    .ui.vertical.menu .header.item {
        text-transform: uppercase;
    }

    .ui.message {
        background-color: rga(238, 238, 238);
        box-shadow: none;
        padding: 5em 4em;
    }

    .ui.message h1.ui.header {
        font-size: 4.5em;
    }

    .ui.message p.lead {
        font-size: 1.3em;
        color: #333333;
        line-height: 1.4;
        font-weight: 300;
    }
</style>